<% layout('./layouts/boilerplate.ejs') -%>
<body>
  <div class="row">
    <div class="col-8 offset-2 mt-3">
      <h4 class="text-center text-success">Creata a new post</h4>
      <form action="/posts" method="post">
        <div class="mb-2">
          <label for="topic" class="form-label">Topic</label>
          <input
            type="text"
            name="post[topic]"
            id="topic"
            placeholder="enter a topic"
            class="form-control"
            required
          />
        </div>

        <div class="mb-2">
          <label for="question" class="form-label">Question</label>
          <textarea
            name="post[question]"
            id="question"
            placeholder="enter a question"
            class="form-control"
            required
          ></textarea>
        </div>

        <div class="mb-2">
          <label for="answer" class="form-label">Answer</label>
          <textarea
            name="post[answer]"
            id="answer"
            rows="7"
            placeholder="enter answer"
            class="form-control"
            required
          ></textarea>
        </div>

        <button class="btn btn-primary">Add</button>
      </form>
    </div>
  </div>
</body>
